openapi: 3.0.3
info:
  title: HuggingFace Inference Provider API
  version: 1.0.0
  description: Client for Hugging Face Chat Completions, Feature Extraction, and Text to Image APIs.

servers:
  - url: https://router.huggingface.co
    description: Hugging Face Inference router endpoint.

paths:
  /{provider}/v1/images/generations:
    parameters:
      - name: provider
        in: path
        description: The specific inference provider.
        required: true
        schema:
          type: string    
    post:
      summary: Text to Image generation
      operationId: textToImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated image(s) returned as Base64 encoding in the response. 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResponse'
        '400':
          description: Bad request — invalid input.
        '401':
          description: Unauthorized — invalid or missing token.

  /v1/chat/completions:
    post:
      summary: Chat completion using messages
      operationId: chatCompletion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Bad request — invalid input.
        '401':
          description: Unauthorized — invalid or missing token.

  /{provider}/v1/embeddings:
    parameters:
      - name: provider
        in: path
        description: The specific inference provider.
        required: true
        schema:
          type: string
    post:
      summary: Get embeddings for input(s)
      operationId: featureExtraction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embeddings computed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          description: Bad request — invalid input.
        '401':
          description: Unauthorized — invalid or missing token.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ImageGenerationRequest:        
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          description: Model to use. 
        prompt: # inputs does not work
          type: string
          description: The input text prompt for image generation.
        n: # Found experimentally; it seems to support only n=1 at the moment.
          type: integer
          description: The number of images to generate.
        parameters:
          type: object
          description: Optional parameters for image generation.
          properties:
            guidance_scale:
              type: number
              description: A higher guidance scale value encourages the model to generate images closely linked to the text prompt, but values too high may cause saturation and other artifacts.
            negative_prompt:
              type: string
              description: A prompt to guide what NOT to include in image generation.
            num_inference_steps:
              type: integer
              description: The number of denoising steps. More steps → higher quality image at expense of slower inference.
            width:
              type: integer
              description: The width in pixels of the output image.
            height:
              type: integer
              description: The height in pixels of the output image.
            scheduler:
              type: string
              description: Override the scheduler with a compatible one.
            seed:
              type: integer
              description: Seed for the random number generator.

    ImageGenerationResponse: # This is what is actually returned, despite online documentation says otherwise
      type: object
      description: Image(s) being generated.
      additionalProperties: true
      properties:
        data:
          type: array
          description: Array with image data.
          items:
            type: object
            properties:
              b64_json:
                type: string    
                description: Image encoded as Base64.          

    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        frequency_penalty:
          type: number
          description: Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text.
        logprobs:
          type: boolean
          description: Whether to return log probabilities of the output tokens.
          default: false
        max_tokens:
          type: integer
          description: The maximum number of tokens that can be generated.
        model:
          type: string
          description: Model to use. 
        messages:
          type: array
          description: A list of messages comprising the conversation so far.
          items:
            $ref: '#/components/schemas/Message'
        presence_penalty:
          type: number
          description: Number between -2.0 and 2.0. Positive values penalize appearance of new tokens.
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        seed:
          type: integer
          description: Seed for the random number generator.
        stop:
          type: array
          description: Up to 4 sequences where the API will stop generating further tokens.
          items:
            type: string
        stream:
          type: boolean
          description: Whether to use streaming (SSE) when true.
        stream_options:
          type: object
          properties:
            include_usage:
              type: boolean
              description: If set, an additional usage chunk will be streamed before the data.
        temperature:
          type: number
          description: What sampling temperature to use, between 0 and 2.
        tool_choice:
          type: object
          description: FunctionTool choice option.
          oneOf:
            - type: string
              enum:
                - auto
                - none
                - required
            - type: object
              required:
                - function
              properties:
                function:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
        tool_prompt:
          type: string
          description: A prompt to be appended before the tools.
        tools:
          type: array
          items:
            $ref: '#/components/schemas/Tool'            
        top_logprobs:
          type: integer
          description: An integer between 0 and 5 specifying the number of most likely tokens to return per position.
        top_p:
          type: number
          description: Nucleus sampling parameter.

    ChatCompletionResponse:
      type: object
      description: Chat completion response.
      additionalProperties: true
      properties:
        choices:
          type: array
          items:
            $ref: '#/components/schemas/Choice'
        created:
          type: integer
        id:
          type: string
        model:
          type: string
        system_fingerprint:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
        service_tier: # Found out empirically
          type: string
          
    Choice:
      type: object
      additionalProperties: true
      properties:
        finish_reason:
          type: string
        index:
          type: integer
        logprobs:
          $ref: '#/components/schemas/LogProbs'
        message:
          $ref: '#/components/schemas/Message'

    Message: # This definition is based on OpenAI API, since HF claims this is compatible.  
      type: object
      discriminator:
        propertyName: role
        mapping:
          developer: '#/components/schemas/DeveloperMessage'
          system: '#/components/schemas/SystemMessage'
          user: '#/components/schemas/UserMessage'
          assistant: '#/components/schemas/AssistantMessage'    
          tool: '#/components/schemas/ToolMessage'            
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - developer
            - system
            - user
            - assistant
            - tool        

    DeveloperMessage:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object
          required: 
            - content        
          properties:
            content:
              $ref: '#/components/schemas/MessageContent'
            name:
              type: string

    SystemMessage:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object
          required: 
            - content        
          properties:
            content:
              $ref: '#/components/schemas/MessageContent'
            name:
              type: string
                        
    UserMessage:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object      
          required:
            - content  
          properties:
            content:
              $ref: '#/components/schemas/MessageContent'
            name:
              type: string

    AssistantMessage:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object      
          properties:
            audio:
              type: object
              description: Data about a previous audio response from the model.
              required:
                - id
              properties:
                id:
                  type: string
                  description: Unique identifier for a previous audio response from the model.
            content:
              $ref: '#/components/schemas/MessageContent'
            reasoning: # Empirically found out HF returns this
              type: string
            name:
              type: string
            refusal:
              type: string
              description: The refusal message by the assistant
            tool_calls:
              type:  array
              items:
                $ref: '#/components/schemas/ToolCall'

    ToolMessage:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Message'
        - type: object      
          required:
            - content
            - tool_call_id
            - name # This is required even if not in OpenAPI reference documentation
          properties:
            content:
              $ref: '#/components/schemas/MessageContent'
            tool_call_id:
              type: string
              description: FunctionTool call that this message is responding to
            name:
              type: string
                                                
    MessageContent: 
      description: The content of any the developer message, which can be a single string or an array of parts.
      oneOf:
        - type: string
        - type: array
          items:
            $ref: '#/components/schemas/MessageContentPart'
                                                            
    MessageContentPart:
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContentPart'
          image: '#/components/schemas/ImageContentPart'
          input_audio: '#/components/schemas/AudioContentPart'
          file: '#/components/schemas/FileContentPart'
          refusal: '#/components/schemas/RefusalContentPart'
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the content part
          enum:
            - text 
            - image
            - input_audio
            - file
            - refusal  
              
    TextContentPart:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/MessageContentPart'
        - type: object      
          required:
            - text
          properties:
            text:
              type: string
              description: Text contentt
        
    ImageContentPart:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/MessageContentPart'
        - type: object      
          required:
            - image_url
          properties:
            image_url:
              type: object
              required:
                - url
              properties:
                url:
                 type: string
                 description: Either a URL of the image or the base64 encoded image data
                detail:
                 type: string
                 description: Specifies the detail level of the image. 
        
    AudioContentPart:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/MessageContentPart'
        - type: object      
          required:
            - input_audio
          properties:
            input_audio:
              type: object
              required:
                - data
                - format
              properties:
                data:
                  type: string
                  description: Base64 encoded audio data
                format:
                  type: string
                  description: The format of the encoded audio data
                  example: wav 
        
    FileContentPart:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/MessageContentPart'
        - type: object      
          required:
            - file
          properties:
            file:
              type: object
              properties:
                file_data:
                  type: string
                  description: The base64 encoded file data
                file_id:
                  type: string
                  description: The ID of an uploaded file to use as input
                filename:
                  type: string
                  description: The name of the file, used when passing the file to the model as a string
               
    RefusalContentPart:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/MessageContentPart'
        - type: object      
          required:
            - refusal
          properties:
            refusal:
              type: string
              description: The refusal message generated by the model
                                                
    Tool: # For now we support only function tools (and not custom ones)
      type: object
      discriminator:
        propertyName: type
        mapping:
          function: '#/components/schemas/FunctionTool'
      required:
        - type
      properties:
        type:
          type: string
          description: The type for the Tool
          enum:
            - function 
            
    FunctionTool: 
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/Tool'
        - type: object      
          required:
            - function
          properties:
            function:
              $ref: '#/components/schemas/Function'
               
    Function: # Notice this does not match online documentation but works
      type: object 
      required:
        - name
      additionalProperties: true
      properties:
        name:
          type: string
          description: The name of the function to cal
        description:
          type: string
        parameters:
          type: object
          description: The parameters the functions accepts, as a JSON Schema object
        strict:
          type: boolean
          default: false
                                                           
    ToolCall: # For now we support only function tool calls (and not custom ones)
      type: object
      discriminator:
        propertyName: type
        mapping:
          function: '#/components/schemas/FunctionToolCall'
      required:
        - type
      properties:
        type:
          type: string
          description: The type for the call
          enum:
            - function 
            
    FunctionToolCall: 
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/ToolCall'
        - type: object      
          required:
            - function
            - id
            - type
          properties:
            function: 
              type: object
              required:
                - name
                - arguments
              properties:
                name:
                  type: string
                  description: The name of the function to call
                arguments:
                  type: string
                  description: The arguments used to call the function 
            id:
              type: string
              description: The ID of the tool call
    
    ResponseFormat:
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextResponseFormat'
          json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          json_object: '#/components/schemas/JsonObjectResponseFormat'
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - text 
            - json_schema
            - json_object
         
    TextResponseFormat:
      allOf:
        - $ref: '#/components/schemas/ResponseFormat'
         
    JsonSchemaResponseFormat:
      allOf:
        - $ref: '#/components/schemas/ResponseFormat'
        - type: object
          required:
            - json_schema
          properties:
            json_schema:
              $ref: '#/components/schemas/JsonSchemaObject'
                  
    JsonSchemaObject:
      type: object      
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the response format.
        description:
          type: string
          description: A description of what the response format is for, used by the model to determine how to respond in the format.
        schema:
         type: object
         description: The schema for the response format, described as a JSON Schema object.
        strict:
          type: boolean
          description: Whether to enable strict schema adherence when generating the output. If set to true, the model will always follow the exact schema defined in the schema field. 
                  
    JsonObjectResponseFormat:
      additionalProperties: true
      allOf:
        - $ref: '#/components/schemas/ResponseFormat'
         
    LogProbs:
      type: object
      additionalProperties: true
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TokenLogProb'

    TokenLogProb:
      type: object
      additionalProperties: true
      properties:
        logprob:
          type: number
        token:
          type: string
        top_logprobs:
          type: array
          items:
            type: object
            properties:
              logprob:
                type: number
              token:
                type: string

    Usage:
      type: object
      additionalProperties: true
      properties:
        completion_tokens:
          type: integer
        completion_time:
          type: number
        completion_tokens_details:
          type: object
          additionalProperties: true   
          properties:
            reasoning_tokens:
              type: integer
        prompt_tokens:
          type: integer
        prompt_time:
          type: number
        total_tokens:
          type: integer
        total_time:
          type: number
        queue_time:
          type: number

    EmbeddingsRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          description: Model to use. 
        input: # Seems it is different form online documentation
          description: Array of strings with inputs.
          type: array
          items:
            type: string
        normalize:
          type: boolean
          description: If true, normalize embeddings.
        prompt_name:
          type: string
          description: The name of the prompt that should be used for encoding.
        truncate:
          type: boolean
          description: Whether to truncate inputs
        truncation_direction:
          type: string
          enum:
            - left
            - right

    EmbeddingsResponse: # This is what is returned, despite online documentation
      type: object
      description: Generated embeddings.
      additionalProperties: true
      properties:
        model:
          type: string
          description: Model used to create the embeddings.
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmbeddingData'
        usage:
          $ref: '#/components/schemas/Usage'

    EmbeddingData:
      type: object
      additionalProperties: true
      properties:
        object:
          type: string
        index:
          type: integer
        embedding:
          type: array
          items:
            type: number